In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame([
                     ['a', '1', 'apple'],
                     ['b', np.nan, 'banana'],
                     ['c', 2, np.nan],
                     [np.nan, 4, np.nan]
                  ], columns=['A','B', 'C'])
df

     A    B       C
0    a    1   apple
1    b  NaN  banana
2    c    2     NaN
3  NaN    4     NaN

In [5]:
df['C'].isna().sum()                 # 该列为空的个数的和

# 空值填充为该列的中位数
df['B'].fillna(df['B'].median())

0      1
1    2.0
2      2
3      4
Name: B, dtype: object

In [4]:
df['B'].median()

2.0

## 测试 DataFrame.loc()

In [5]:
df = pd.DataFrame([[1, 2], [10, 5], [7, 8]],
     index=['cobra', 'viper', 'sidewinder'],
     columns=['max_speed', 'shield'])
df

            max_speed  shield
cobra               1       2
viper              10       5
sidewinder          7       8

In [9]:
df.loc[df['max_speed'] < df['shield'], 'shield']

cobra         2
sidewinder    8
Name: shield, dtype: int64